.friendList {
  list-style: none;
  padding: 0;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.friendListItem {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
